<div class="row">
    <div class="col-sm-6">
        <div class="card">

            <div role="button" (click)="handleClick()" class="card-block">
                <h3 class="card-title">Credenciais</h3>
                <img class="card-img img-fluid" src="assets/images/credential.jpg" alt="Card image">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div role="button" (click)="handleClick()" class="card-block">
                <h3 class="card-title">Infrações</h3>
                <img class="card-img img-fluid" src="assets/images/multa.jpg" alt="Card image">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div role="button" (click)="handleClick()" class="card-block">
                <h3 class="card-title">Portal da prefeitura</h3>
                <img class="card-img img-fluid" src="assets/images/jlle.png" alt="Card image">
            </div>
        </div>
    </div>
</div>