.graphic-margin {
  margin-left: 50px;
}

.btn-float {
  position: absolute;
  right: 0;
  text-align: right;
  margin-top: 15px;
}

.align-row {
  margin-bottom: 150px;
}

.icon-style {
  font-size: 36px;
  cursor: pointer;
}

.row-margin{
  margin-top: 50px;
}
