:host /deep/ .data-table-row {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-cursor {
  cursor: pointer;
}

.btn-spacer {
  margin-left: 10px;
  margin-right: 10px;
}

:host /deep/ .btn {
  padding: 5px;
}

.btn-back {
  float: right;
  float: right;
  display: flex;
  margin-top: 13px
}

.divsizer{
  height: 50px;
}

/deep/ .datatable-search {
  display: none
}