<div class="loginBody">
  <div class="login-page">
    <img src="/assets/images/jlle.png" id="imgLogo" width="360px" class="user-avatar" />

    <form [formGroup]="loginForm" (ngSubmit)="login(f.value)" class="login-form">
      <div class="form">
          <p class="message">Favor Confirmar o seu email

          </p>

            <input type="text"
              formControlName="email"
              class="form-control input-underline input-lg"
              placeholder="E-mail">

            <a class="btn rounded-btn" (click)="sendMail()">Enviar</a>

            <a class="btn rounded-btn" (click)="back()">Voltar</a>
      </div>
    </form>
  </div>
</div>
