<div [@routerTransition]>
  <h2 class="text-muted">
    <small>Cadastro de credencial</small>
    <div class="pull-right" [@routerTransition]>

      <button class="btn btn-md btn-secondary" (click)="back()" type="button">Voltar</button>
      <button class="btn btn-md btn-success" (click)="onSubmit(credential)" type="button">Salvar</button>

    </div>
  </h2>
  <hr>

  <img src="assets/images/Logo2.PNG" id="imgLogo" width="200px" class="pull-right " />
</div>

<form [formGroup]="credentialForm" (ngSubmit)="onSubmit(f.value)" class="row col-md-12" [@routerTransition]>
  <div [ngClass]="displayFieldCss('expireDate')" class="col-md-5 form-align">
    <label>
      <strong>Data de expiração:</strong>
    </label>
     <date-picker [showClearButton]="false" formControlName="expireDate" format="DD/MM/YYYY"></date-picker>

      <error-display
       [displayError]="isFieldValid('expireDate')" errorMsg="Insira uma data valida">
      </error-display>
  </div>

  <div [ngClass]="displayFieldCss('emissionDate')" class="col-md-5 form-align">
    <label>
      <strong>Data de emissão:</strong>
    </label>
    <date-picker [showClearButton]="false" formControlName="emissionDate" format="DD/MM/YYYY"></date-picker>
    <error-display [displayError]="isFieldValid('emissionDate')" errorMsg="Insira uma data valida">
    </error-display>
  </div>

  <div [ngClass]="displayFieldCss('register')" class="col-md-5 form-align">
    <label>
      <strong>Registro número:</strong>
    </label>
    <input type="text" class="form-control" id="register" name="register" formControlName="register">
    <error-display [displayError]="isFieldValid('register')" errorMsg="Registro é um campo obrigatorio">
    </error-display>
  </div>

  <div  [ngClass]="displayFieldCss('documentNumber')" class="col-md-5 form-align">
    <label>
      <strong>Número do documento:</strong>
    </label>
    <input type="text" class="form-control" id="documentNumber" name="documentNumber" formControlName="documentNumber">
    <error-display [displayError]="isFieldValid('documentNumber')" errorMsg="Número de é um campo obrigatorio">
    </error-display>
  </div>

  <div class="divsizer"></div>


    <div class="col-md-5 form-align d-none">
      <label>
        <strong>Registro número:</strong>
      </label>
      <input type="text" class="form-control" id="id" name="id" formControlName="id">
    </div>

      <div class="col-md-5 form-align d-none">
        <label>
          <strong>Registro número:</strong>
        </label>
        <input type="text" class="form-control" id="fileName" name="fileName" formControlName="fileName">
      </div>

</form>