$styleguide-clear: #FFFFFF;
$styleguide-grey: #58595B;
$styleguide-light-grey: #F8F8F8;

$styleguide-success: #5CB85C;
$styleguide-info: #5BC0DE;
$styleguide-alert: #F0AD4E;
$styleguide-danger: #D9534F;