.ng-tns-c4-0 /deep/ {
  display: none;
}

.icon-style {
  font-size: 36px;
  cursor: pointer;
}

.action-label {
  margin-left: 10px;
}

.actions{
  position: fixed;
}

.info-sizer{
  margin-bottom: 20px;
}

.divsizer{
  height: 20px;
  width: 800px;
}
