<div [@routerTransition]>
  <h2 class="text-muted">Credencial de {{accredited.name}}</h2>
</div>

<hr>

<div *ngIf="!formVisible">
  <button *ngIf="!hasCredential" class="btn btn-md btn-secondary" (click)="create();" type="submit">Gerar
  </button>

  <button *ngIf="hasCredential" class="btn btn-md btn-success" (click)="edit();" type="submit">Editar
  </button>
  <button class="btn btn-md btn-secondary pull-right" (click)="back();" type="button">Voltar
  </button>
  <hr>
</div>

<div class="divsizer"></div>

<div class="row" *ngIf="!formVisible && !hasCredential">
  <div class="col-md-12">
    <div>
      <p>
        <ngb-alert [dismissible]="false">
          <strong>Atenção!</strong> Ainda não foi gerada uma credencial para {{accredited.name}}
        </ngb-alert>
      </p>
    </div>
  </div>
</div>

<div class="row col-md-12" *ngIf="hasCredential" [@routerTransition]>

  <ngb-tabset>
    <ngb-tab title="Informações">
      <ng-template ngbTabContent>
        <form class="row col-md-12" [@routerTransition]>
          <div class="col-md-12 info-sizer">
            <div class="divsizer"></div>
            <h3>Informações</h3>
          </div>
          <div class="col-md-4 form-align">
            <h6>
              <label>
                <strong>Data de expiração:</strong>
              </label>
              {{expireDate}}</h6>
          </div>
          <div class="col-md-5 form-align">
            <h6>
              <label>
                <strong>Data de emissão:</strong>
              </label>
              {{emissionDate}}</h6>
          </div>

          <div class="col-md-4 form-align">
            <h6>
              <label>
                <strong>Registro número:</strong>
              </label>
              {{credential.register}}</h6>
          </div>

          <div class="col-md-4 form-align">
            <h6>
              <label>
                <strong>Número do documento:</strong>
              </label>
              {{credential.documentNumber}}</h6>
          </div>
          <div></div>
        </form>

        <div class="col-md-12">
          <ngb-accordion #acc="ngbAccordion" activeIds="panel">
            <ngb-panel title="Visualizar" id="panel-one">
              <ng-template ngbPanelContent>

                <div class="actions">

                  <div class="action-label">
                    <h6>Ações</h6>
                  </div>

                  <a (click)="download()" placement="bottom" ngbTooltip="Download" class="table-cursor">
                    <i class="material-icons icon-style">vertical_align_bottom
                    </i>
                  </a>

                  <a (click)="zoomIn()" placement="bottom" ngbTooltip="Zoom +" class="table-cursor">
                    <i class="material-icons icon-style">zoom_in
                    </i>
                  </a>

                  <a (click)="zoomOut()" placement="bottom" ngbTooltip="Zoom -" class="table-cursor">
                    <i class="material-icons icon-style">zoom_out
                    </i>
                  </a>

                  <a (click)="print()" placement="bottom" ngbTooltip="Imprimir" class="table-cursor">
                    <i class="material-icons icon-style">print
                    </i>
                  </a>

                  <a (click)="del(document, ctnt)" placement="bottom" ngbTooltip="Deletar" class="table-cursor">
                    <i class="material-icons icon-style">delete</i>
                  </a>
                </div>

                <pdf-viewer [src]="this.pdfSrc" [render-text]="true" [zoom]="this.zoomVar" style="display: block;"></pdf-viewer>

              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Histórico</b>
      </ng-template>
      <ng-template ngbTabContent>
        <app-history-credential></app-history-credential>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>


  <ng-template #ctnt let-c="close" let-d="dismiss">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Deseja deletar a credencial de {{accredited.name}}?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-light" (click)="delete(); c('Close click')">Deletar</button>
      <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Cancelar</button>
    </div>
  </ng-template>